# Entorno virtual
venv/
ENV/
env/

# Archivos de configuración
*.env
*.env.*

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de logs
*.log

# Archivos de base de datos locales
*.sqlite3
instance/
db.sqlite3

# Archivos de sistema / editores
.DS_Store
*.swp
*.swo
*.bak
*.tmp

# VSCode
.vscode/

# Configuración de PyCharm
.idea/

# Archivos de pruebas/coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# Archivos del sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini

# Railway build outputs (si aplica)
.nixpacks/
