{% extends 'base.html' %} 
{% block content %}
<h2>Lista de Películas</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Código</th>
      <th scope="col">Título</th>
      <th scope="col">Protagonista</th>
      <th scope="col">Duración</th>
      <th scope="col">Resumen</th>
      <th scope="col">Foto</th>
      <th scope="col">Género</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    </tr>
    <tr>
    </tr>
    <tr>
      
    </tr>
  </tbody>
</table>
{% endblock %}
